<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <title>Paagina Inicial</title>
</head>
<body>
    <header class="container-principal">
        <div class="navegacao flex">
            <img src="" alt="">
            <nav>
                <ul class="flex">
                    <li>home</li>
                    <li>login</li>
                    <li>sobre</li>
                    <li>funcionalidades</li>
                    <li>acesso rápido</li>
                </ul>
            </nav>
        </div>
        <div class="hero-section flex">
            <div>
                <div class="titulo">
                    <h1>SICAT</h1>
                    <h2>Sistema de Informação Controle e Agendamento de Tutoria</h2>
                </div>
                <p>Todas as informações da sua tutoria em um só lugar: cadastros, horários, registros e relatórios, de forma automatizada e segura.</p>
                <a class="cta" href="/login">acessar sistema</a>
            </div>
            <img src="{{url_for('static', filename='img/gestaomaior.svg')}}" alt="">
        </div>
    </header>
    <main class="flex">
        <section class="flex">
            <h3>Funcionalidades</h3>
            <div class="funcionalidades flex">
                <div class="card">
                    <img src="{{url_for('static', filename='img/gestao.svg')}}" alt="">
                    <h1>Gestão</h1>
                    <p>Informações organizadas em um único ambiente, com cadastros e horários sempre atualizados.</p>
                </div>
                <div class="card">
                    <img src="{{url_for('static', filename='img/agendamento.svg')}}" alt="">
                    <h1>Agendamento</h1>
                    <p>Horários automaticos, evitando conflitos e garantindo praticidade no agendamento.</p>
                </div>
                <div class="card">
                    <img src="{{url_for('static', filename='img/registrodesessao.svg')}}" alt="">
                    <h1>Registro</h1>
                    <p> Presenças, conteúdos e observações registradas de forma simples e segura, em um só lugar.</p>
                </div>
                <div class="card">
                    <img src="{{url_for('static', filename='img/relatorio.svg')}}" alt="">
                    <h1>Relatórios</h1>
                    <p>Dados de desempenho e frequência em tempo real, apoiando decisões e melhorias.</p>
                </div>
                <div class="card">
                    <img src="{{url_for('static', filename='img/supervisao.svg')}}" alt="">
                    <h1>Supervisão</h1>
                    <p>Acesso rápido a relatórios e histórico, monitorados diretamente pelo sistema.</p>
                </div>
            </div>
        </section>
        <section class="sobre">
            <h3>Sobre</h3>
            <div class="flex">
                <p>O SICAT foi criado para modernizar o programa de tutoria do IFRN. Agora, tudo o que antes era feito em planilhas e papéis está reunido em uma única plataforma,<b> simples, rápida e acessível</b>.</p>
                <img src="{{url_for('static', filename='img/image 1.svg')}}" alt="">
            </div>
        </section>
    </main>
    <footer class="flex">
        <div>
            <span>SICAT – Sistema de Controle e Agendamento de Tutorias</span>
            <span>IFRN - Instituto Federal do Rio Grande do Norte</span>
        </div>
        <div class="contatos flex">
            <span><i class="fa-regular fa-envelope" style="color:white;"></i>sicat@gmail.com</span>
            <span><i class="fa-brands fa-instagram" style="color:white;"></i>SICAT</span>
        </div>
    </footer>
</body>
</html>