{% extends 'base.html' %}

{% block title %}  Professor Orientador {% endblock %}

{% block funcao %} Professor Orientador: {% endblock %}
{% block user %} {{user}} {% endblock %}

{% block info1 %} Alunos Ativos {% endblock %}
{% block info11 %} 150 {% endblock %}

{% block info2 %} Tutorias Pendentes {% endblock %}
{% block info21 %} 12 {% endblock %}

{% block info3 %} Tutorias Realizadas {% endblock %}
{% block info31 %} 85 {% endblock %}

{% block info4 %} Taxa de Engajamento Geral {% endblock %}
{% block info41 %} 35% {% endblock %}

{% block opcoes %}

{% endblock %}

{% block infos %}
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-bold mb-4">Lista de Todos os Tutores</h2>
        <p>Conteúdo da lista de tutores...</p>
    </div>
{% endblock %}