{% extends 'base.html' %}

{% block title %} Tutorado {% endblock %}

{% block funcao %} Tutorado: {% endblock %}
{% block user %} {{user}} {% endblock %}

{% block info1 %} Sessões Disponíveis{% endblock %}
{% block info11 %} 18 {% endblock %}

{% block info2 %} Minhas Solicitações Pendentes {% endblock %}
{% block info21 %} 2 {% endblock %}

{% block info3 %} Sessões na Minha Agenda {% endblock %}
{% block info31 %} 3 {% endblock %}

{% block info4 %} Tutorias Participadas{% endblock %}
{% block info41 %} 14 {% endblock %}

{% block opcoes %}

{% endblock %}

{% block infos %}
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-bold mb-4">Lista de Todos os Tutores</h2>
        <p>Conteúdo da lista de tutores...</p>
    </div>
{% endblock %}