{% extends 'base.html' %}

{% block title %} Tutor {% endblock %}

{% block funcao %} Tutor: {% endblock %}
{% block user %} {{user}} {% endblock %}

{% block info1 %} Próximas Sessões (7 dias) {% endblock %}
{% block info11 %} 4 {% endblock %}

{% block info2 %} Demandas Críticas Atendíveis {% endblock %}
{% block info21 %} 8 {% endblock %}

{% block info3 %} Alunos Atendidos (Mês) {% endblock %}
{% block info31 %} 55 {% endblock %}

{% block info4 %} Taxa de Engajamento (%) {% endblock %}
{% block info41 %} 75% {% endblock %}

{% block opcoes %}

{% endblock %}

{% block infos %}
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-bold mb-4">Lista de Todos os Tutores</h2>
        <p>Conteúdo da lista de tutores...</p>
    </div>
{% endblock %}